{
    "Servers": {
        "1": {
            "Name": "db",
            "Group": "Servers",
            "Host": "db",
            "Port": 5432,
            "MaintenanceDB": "__DATABASE_NAME__",
            "Username": "__DATABASE_USER__",
            "SSLMode": "prefer"
        }
    }
}